@{
    ViewBag.Title = "Home Page";
}
@section scripts{

    @Scripts.Render("~/Scripts/MainScript1.0.0.js")
}

<style>
    table {
        width: 100%;
    }

    td {
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }

    th {
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }

    #table-wrapper {
        position: relative;
    }

    #table-scroll {
        height: 300px;
        overflow: auto;
    }

    #table-wrapper table {
        width: 100%;
    }
</style>

<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>Account Activity</h1>
    <table border="1">
        <thead>
            <tr><th width="10%">ID</th><th width="20%">Account</th><th width="40%">Description</th><th width="20%">Date</th></tr>
        </thead>
    </table>
    <div id="infoTable">
        <div id="table-wrapper">
            <div id="table-scroll">
                <table border="1">
                    <tbody>
                        <tr class="loading"><td colspan="4">loading...</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>